.card-confirmation {
  display: flex;
}

.card-confiramtion img {
  height: 20px;
}

.card-details p {
  text-align: left;
}


.container-confirmation {
  padding: 25px;
}

.card-img-top{
  padding-bottom: 10px,
}
