#greeting-1{
  font-family: "Roboto";
  font-size: 20px;
  color: black;
  align-items: left;
}

#greeting-2{
  font-family: "Roboto";
  font-size: 15px;
  color: black;
  align-items: left;
}


.container-booking-confirmation {
  max-width: 414px;
  z-index: 1;
  position: absolute;
  padding-top: -2px;
  padding-bottom: 20px;
  top: 0px;
  background-color: white;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;

}


.btn-style-confirmation {
  background-color: #00635D;
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 14px;
  padding: 12px 60px;
  margin-left: 0px;
  border-radius: 8px;
  width: 190px;
  border: none;
}


.btn-style-confirmation :hover{
  background-color: #00635D;
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 14px;
  padding: 12px 60px;
  margin-left: 0px;
  border-radius: 8px;
  width: 190px;
}


.index-cards-booking{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-items: center;
  position: relative;
  margin-top: 10px;
  background-color: white;
}



.img-booking{
  background-image: asset-url('second-banner.png');
  height: 100%;
  width: 200px;
  background-size: cover;

}

