
.btn-classes {
  padding: 12px 50px;
  border-radius: 8px;

  background-color: #00635D;
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 200px;
 }

 .card-classes {
  background-color: #FFFFFF;
  width: 414px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
 }

 .card-img {
  height: 8rem;
  width: 170px;
  border-radius: 10px;
  margin: auto 10px;
 }
