.container {
  width: 414px;
  margin: auto;
}

.container-video {
  width: 414px;
}

.container-teachers-info {
  max-width: 414px;
  z-index: 1;
  position: absolute;
  padding-top: 20px;
  top: 410px;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

vertical-bar {
  color: #ED6A5A;
}

.fa-heart {
  font-size: 28px;
  color: #ED6A5A;
  margin-left: 100px;
}

.fa-star {
  font-size: 13px;
  color: #F0C808;
}

reviews {
  font-size: 14px;
}

.btn-classes {
  padding: 12px 50px;
  border-radius: 8px;

  background-color: #00635D;
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 200px;
 }

 .card-classes {
  background-color: #FFFFFF;
  width: 390px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
 }

 .card-img {
  height: 8rem;
  width: 170px;
  border-radius: 10px;
  margin: auto 10px;
 }

 .about-me p {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 400px;
}
