@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  background: #EAEAEA;
}

.container {
  //width: 400px;
  margin: auto;
}

.container-video {
  width: 414px;
}

.ytp-title-text {

}

.container-teachers-info {
  max-width: 414px;
  z-index: 1;
  position: absolute;
  padding-top: 20px;
  top: 350px;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  background-image: url(/assets/LogoMeetTheYogis-f714c99….svg);
  height: 89px;
  width: 350px;
  background-size: cover;
  background-position: center;
  color: black;
}

vertical-bar {
  color: #ED6A5A;
}

.teacher-cards {
  display: grid;
  margin: 16px;
}

.teachers-title {
  display: flex;
  justify-content: space-between;
}

.course-name {
  display: flex;
  justify-content: space-between;
}


#heart-avatar {
  font-size: 28px;
  color: #ED6A5A;
  margin-right: 18px;
}

.fa-star {
  font-size: 13px;
  color: #F0C808;
}

reviews {
  font-size: 14px;
}

#heart-card {
  font-size: 18px;
  color: #ED6A5A;
  margin-left: 10px;
}

#heart-footer {
  font-size: 26px;
  color: white;
}

.container-back-buttom {
  padding: 12px 7px;
}

.go-back-button {
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  color: #00635D;
  background: #EAEAEA;
  margin-left: 1px;
}

.go-back-button:hover {
  text-decoration: none;
  color: #00635D;
}

.btn-classes {
  padding: 7px 40px;
  border-radius: 8px;
  background-color: #00635D;
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 200px;
  text-decoration: none;
 }

.btn-classes:hover {
  color: white;
  text-decoration: none;
}

.card-classes {
background-color: #FFFFFF;
height: auto;
border-radius: 10px;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}

.card-img {
height: 6.5rem;
width: 170px;
border-radius: 10px;
margin: auto 10px;
}

.card-title {
  font-family: "Roboto";
  font-size: 18px;
  color: black;
}

.card-text {
  font-family: "Roboto";
  font-size: 15px;
  color: #666963;
}

h5 {
  font-family: "Roboto";
  font-size: 20px;
  color: black;
}

.about-me p {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 400px;

  font-family: "Roboto";
  font-size: 16px;
  color: #666963;
}

.yoga-teachers-styles {
  font-family: "Roboto";
  font-size: 15px;
  color: black;
}

.container-teachers-info p {
  font-family: "Roboto";
  font-size: 16px;
  color: #666963;
}

reviews {
  font-family: "Roboto";
  font-size: 12px;
  color: black;
}

.container-teachers-info h2 {
  font-family: "Roboto";
  font-size: 28px;
  color: black;
}

.container-teachers-info p {
  font-family: "Roboto";
  font-size: 16px;
  color: #666963;
}

.jumbotron {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  background-color: #AEB19C;
  padding: 25px;
}
