@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$body-font: "Roboto", sans-serif;
$headers-font: "Roboto Slab", serif;

body {
  font-family: 'Roboto', sans-serif;
}
