.background {
  background: #AEB19C;
  height: 307px;
  width: 417px;
  left: -2px;
  top: 307px;
  padding: 24px;
}

.background-cards {
  background: white;
  padding: 24px;
}




.yogi-container {
  padding: 24px;
  h2 {
  color: black;
  font-size: 28px;
  text-align: left;
  padding-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  }
  p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  }
}

.card-white {
  position: center;
  margin-right: -100px;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

#course-introduction {
  color: black;
  font-size: 12px;
  padding-bottom: 10px;
  margin-top: 3px;
}

#course-teacher {
  display: flex;
  align-items: center;
  p {
    margin-left: 16px;
    color: #666963;
  }
}

.img-circle {
  border-radius: 50%;
  width: 86,39px;
  height: 86,39px;
}


#course-teacher .far {
  color: #666963;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 5px;
}

#course-description p {
  text-align: left;
  color: #666963;
}

.far {
  font-size: 30px;
  font-weight: lighter;
  color: #666963;
  margin: 0 5px;
}

#course-booking p {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

.btn-style {
  background-color: #00635D;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 16px;
  padding: 12px 60px;
  margin-left: 50px;
  border-radius: 8px;
  width: 190px
}
