.yogi-container {
  background-image:linear-gradient(180deg, #322211 16.15%, rgba(62, 43, 23, 0.928944) 22.92%, rgba(70, 49, 26, 0.879752) 27.6%, rgba(78, 55, 31, 0.825093) 32.81%, rgba(86, 61, 34, 0.781366) 36.98%, rgba(96, 69, 39, 0.715776) 43.23%, rgba(104, 75, 43, 0.666584) 47.92%, rgba(115, 82, 48, 0.600994) 54.17%, rgba(129, 93, 55, 0.51354) 62.5%, rgba(137, 99, 59, 0.464348) 67.19%, rgba(146, 106, 63, 0.409689) 72.4%, rgba(158, 114, 68, 0.338634) 79.17%, rgba(168, 122, 74, 0.273043) 85.42%, rgba(177, 129, 78, 0.218385) 90.62%, rgba(187, 136, 82, 0.158261) 96.35%, rgba(189, 137, 83, 0.149109) 99.94%, rgba(189, 138, 83, 0.147731) 99.95%, rgba(189, 138, 83, 0.14611) 99.96%, rgba(190, 138, 84, 0.14139) 99.97%, rgba(191, 139, 84, 0.134771) 99.98%, rgba(192, 140, 85, 0.130932) 99.99%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%, rgba(193, 141, 85, 0.12) 100%);
  padding: 24px;
  font-family: 'Roboto', sans-serif;
  h2 {
  color: black;
  font-size: 28px;
  text-align: left;
  padding-bottom: 20px;
  }
  p {
  text-align: left;
  }
}

#course-introduction {
  color: black;
  font-size: 12px;
  padding-bottom: 10px;
}

.card-white {
  position: center;
  margin-right: -100px;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

#course-teacher {
  display: flex;
  align-items: center;
  p {
    margin-left: 16px;
    color: #666963;
  }
}

.img-circle {
  border-radius: 50%;

}

#course-teacher .far {
  color: #666963;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 5px;
}

#course-description p {
  text-align: left;
  color: #666963;
}

.far {
  font-size: 30px;
  font-weight: lighter;
  color: #666963;
  margin: 0 5px;
}


#course-booking p {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

.btn-style {
  background-color: #00635D;
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 14px;
  padding: 12px 60px;
  margin-left: 48px;
  border-radius: 8px;
  width: 190px
}
