.background {
  background: #AEB19C;
  position: absolute;
  left: -0.68%;
  right: -4.77%;
  top: 10%;
  bottom: 35%;
  backdrop-filter: blur(27.1828px);
  width: 464;
  height: 287;
}

.container h2 {
  color: black;
  text-align: left;
  padding-bottom: 20px;
}

.container p {
  color: #666963;
  text-align: left;
}

.card-white {
  width: 400px;
  items-align: center;
  margin-left: 800px;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  position: absolute;
  margin: -10px;
  margin-left: -185px;
  border-radius: 50%;
  height: 96px;
}

#course-teacher p {
  font-size: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#course-teacher .far {
  color: #666963;
  font-size: 20px;
  font-weight: lighter;
}

#course-teacher .certification {
  font-size: 16px;
  text-align: center;
}

#course-description p {
  text-align: left;
}

.far {
  font-size: 30px;
  color: #666963;
  margin: 0 5px;
}

 #course-description p {
  text-align: left;
 }

#course-booking p {
  text-align: center;
  padding-bottom: 20px;
}

.btn-style {
  background-color: #00635D;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 12px 60px 15px;
  border-radius: 8px;
}

