.banner {
  background-image: asset-url("home-banner.png");
  height: 105vh;
  border-radius: 0 0 32px 0;
  background-size: cover;
  background-position: center;
  padding: 65px 24px 24px 24px;
}

.home-content h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: white;
  margin: 320px 24px 0 24px;
}

.search-form {
  display: flex;
  margin: 0 24px;
  margin-top: 40px;
  div {
    margin: 0;
    padding: 0;
  }
  div:first-child {
  flex: 1;
  }
}
.search-input {
  border-radius: 40px 0 0 40px;
  padding: 16px;
  font-size: 17px;
  margin: 0;
  height: 100%;
  border: none;
}
.search-btn {
  border-radius: 0 40px 40px 0;
  background-color: #00635D;
  padding: 8px 16px;
  color: white;
  margin: 0;
  font-size: 18px;
}
.logo-home {
  background-image: asset-url('LogoMeetTheYogis.svg');
  height: 89px;
  width: 350px;
  margin: 40px 0 0 24px;
  background-size: cover;
  background-position: center;
}

.step-card{
  height: 190px;
  width: 253px;
}

.step-card:nth-child(even){
  display: block;
  margin-left: auto;
}

.heading-area{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 253px;
  h1{
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 100%;
    color: white;
    margin: 0 0 -60px 0;
    width: 50px;
    padding: 0px 5px 5px 5px;
  }
  h2{
    width: 220px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    line-height: 36px;
    letter-spacing: -0.43px;
    text-align: left;
    margin: 0px;
    padding: 5px 15px 0 15px;
  }
}

.grey-area{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(174, 177, 156, 0.7);
  color: white;
  height: 105px;
  width: 253px;
  border-radius: 0 20px 20px 0;
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-align: left;
    height: 93px;
    width: 220px;
    padding: 0px 10px 0px 15px;
    margin: 0 0 0 50px;
    vertical-align: bottom;
  }
}
#right-side{
  border-radius: 20px 0 0 20px;
}

.home-content {
  position: absolute;
}

.second_banner {
  background-image: asset-url("second-banner.png");
  height: 110vh;
  border-radius: 0 32px 32px 0;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.get-started-form {
  margin: 0 24px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.get-started-btn {
  border-radius: 15px;
  background-color: #00635D;
  padding: 8px 16px;
  color: white;
  margin: 0;
  font-size: 18px;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin-top: 80px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


