.aquagreen-btn-footer {
  border-radius: 40px;
  background-color: #00635D;
  padding: 8px 45px;
  color: white;
  margin: 5px 0 5px 0;
  font-size: 18px;
  text-align: center;
}

.transparent-btn {
  border-radius: 40px;
  background-color: none;
  padding: 8px 45px;
  color: white;
  margin: 10px 0 40px 0;
  font-size: 18px;
  color: #666963;

}
