.aquagreen-btn-footer {
  border-radius: 15px;
  background-color: #00635D;
  padding: 8px 45px;
  color: white;
  margin: 5px 0 5px 0;
  font-size: 18px;
  text-align: center;
}


.transparent-btn {
  text-decoration: none;
  font-size: 40px;
  color: #00635D;
  margin-left: 1px;
}

.transparent-btn:hover {
  text-decoration: none;
  color: #00635D;
}
.transparent-footer-btn {
  border-radius: 40px;
  padding: 8px 0;
  font-size: 18px;
  color: #00635D;
}
