@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.aquagreen-btn-footer {
  font-family: Roboto;
  border-radius: 15px;
  background-color: #00635D;
  padding: 8px 45px;
  color: white;
  margin: 5px 0 5px 0;
  font-size: 18px;
  text-align: center;
}


.transparent-btn {
  text-decoration: none;
  font-size: 40px;
  color: #00635D;
  margin-left: 1px;
  font-family: 'Roboto Slab', serif;
}

.transparent-btn:hover {
  text-decoration: none;
  color: #00635D;
}
.transparent-footer-btn {
  font-family: Roboto;
  border-radius: 40px;
  padding: 8px 0;
  font-size: 18px;
  color: #00635D;
}
