.form-homepage{
  background: grey;
  margin-top: 400px;
  padding: 0px;
  .btn {
    margin-bottom: 1rem;
    border-radius: 0px 20px 20px 0px;
    padding-left: 15px;
    padding-right: 15px;

  }
  .form-control{
  margin-bottom: 0rem;
  border-radius: 20px 0px 0px 20px;
  border-style: none;
  padding: 0px;
  }
  .simple_form form-inline{
  padding-right: 0px;
  padding: 0px;
  }
  #buttom{
  padding: 0px;
  }
  #input{
  padding: 0px;
  padding-left: 10px;
  }
}

