@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.index-form {
  display: flex;
  justify-content: center;
  //align-items: center !important;
  width: 100%;
  margin: 20px 0px 0px 0px;
  // position: fixed;

  // div {
  //   margin: 0;
  //   padding: 0;
  // }
  // div:first-child {
  // flex: 1;
  // }
}
.index-input {
  border-radius: 40px;
  font-size: 15px;
  height: 42px;
  max-width: 130px;
  font-family: Roboto;
  font-style: normal;
  //background-color: #EAECEA;
  border: none;
}

.index-btn {
  border-radius: 40px;
  background-color: #00635D;
  padding: 8px 45px;
  color: white;
  margin: 0 0 0 0;
  max-width: 200px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  align-items: center;
  // border-style: solid;
  // border-width: medium;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
}

