.index-cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-items: center;
}

.card-teacher {
  width: 90%;
  height: 200px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 16px;
  align-items: center;
}

.card-teacher img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-teacher h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-teacher p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-teacher .card-teacher-infos {
  padding: 16px;
}
