.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: absolute;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
