// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partialss
@import "components/index";
@import "pages/index";
@import "pages/courses/courses";
@import "pages/bookings/show";
@import "pages/bookings/new";
@import "pages/teachers/teachers";
@import "pages/signup/signup";
@import "pages/payment/show";
